<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.administrator.myapplication">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".FirstActivity"

            android:label="This is FirstActivity"> <!-- 给活动标题栏添加内容 --><!--设置为单顶启动模式-->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" /> <!-- 为程序配置主活动 -->
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SecondActivity">
        <!--    <intent-filter>
                <action android:name="com.exanple.lab.activity.ACTION_START" />

             <category android:name="android.intent.category.DEFAULT" /> -->
                <!--<category android:name="com.exanple.lab.activity.MY_CATEGORY" />-->
       <!--     </intent-filter> -->
        </activity>
        <activity android:name=".ThirdActivity">

        </activity>

    </application>

</manifest>